/*@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;1,700&display=swap');*/
@import url(https://tools-static.wmflabs.org/fontcdn/css?family=Comic+Neue:400,700italic);


body{
    --card-width: 18vmin;
    --card-height: 32vmin;
    
    --card-layout: radial-gradient(circle, rgba(255,0,0,0) 28%, rgba(0,0,0,1) 42%, rgba(255,255,255,1) 43%, rgba(0,0,0,1) 44%, rgba(255,0,0,0) 45%, rgba(255,0,0,0) 73%, rgba(0,0,0,1) 74%, rgba(255,0,0,0) 75%);

    --color-red: #e72d2d;
    --color-yellow: #FFD700;
    --color-green: #32CD32;
    --color-blue: #1E90FF;

    margin: 0px;
    position: absolute;
    bottom:0px;
}


/* Default card */
.card{
    width: var(--card-width); /* 9:16 aspect ratio*/
    height: var(--card-height);
    border: 5px solid black;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /*margin: 1vmin;*/
    background-position: center;
    transition: filter .25s;
    filter: grayscale(0%) blur(0px);
    /* not availabe, https://developer.mozilla.org/en-US/docs/Web/CSS/attr#Browser_compatibility
    background-color: attr(data-color color); */
    
    user-select: none;
    cursor: grab;
    
    /* Gradient default cards */
    background-image: var(--card-layout);



}


/* Numbers in the corners */
.card::before, .card::after{
    content: attr(data-number);
    position: absolute;
    font-family: 'Comic Neue';
    font-size: calc(var(--card-width) / 5);/*4vmin;*/
}
.card::before{
    bottom:0px;
    left:2px;
    transform: rotate(180deg);
}
.card::after{
    top:0px;
    right:2px;
}

/* Number in the center*/
.card > span{
    position: absolute; 
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    font-weight: 700;
    font-size: calc(var(--card-width) / 2);/*8vmin;*/ /* fits fine for three letters */
}


.card[data-color="blue"]{
    background-color: var(--color-blue);
}
.card[data-color="green"]{
    background-color: var(--color-green);
}
.card[data-color="yellow"]{
    background-color: var(--color-yellow);
}
.card[data-color="red"]{
    background-color: var(--color-red);
}

.card[data-color="wild"]{
    background-image: var(--card-layout), linear-gradient(120deg, rgba(0,255,0,1) 0%, rgba(255,0,0,1) 100%);

    animation: huerot 5s linear infinite;
}
.card[data-color="wild"]>span{
    color: rgba(0,200,100,1);
    text-shadow: 0 0 10px #000000;
}


@keyframes huerot {
    0%{filter: hue-rotate(0deg);}
    100%{filter: hue-rotate(360deg);}
}



.card.notavail{
    filter: grayscale(40%) blur(2px);
    cursor: not-allowed;
}



/* the two piles in the center*/
#piles{
    display: flex;
    justify-content: center;
}

#piles > *{
    box-shadow: 10px 15px, 8px 12px, 6px 9px, 4px 6px;
    margin: 2vmin;
}

/* Draw pile */
#draw{
    background-size: calc(var(--card-width) * 3) var(--card-height);/* 56vmin 32vmin */
    background-image: radial-gradient(rgba(236,255,0,1) 41%, rgba(255,255,255,1) 43%, rgba(0,0,0,1) 44%, rgba(255,192,0,1) 45%, rgba(255,0,0,1) 60%, rgba(0,0,0,1) 75%);
}



#discardpile{
    transition: background .3s;
    cursor: default;
}

#discardpile>*{
    pointer-events: none; /* enables drop on children */
}

/*  */
#discardpile.dropoption{
    background: lightgrey;
}
#discardpile.dropoption>span,
#discardpile.dropoption::before,
#discardpile.dropoption::after{
    color: transparent;
}

#discardpile.dropoption>span{
    border: 5px dashed black;
    text-shadow: none;
    width: 75%;
    left: calc( (25% - 10px) / 2 );
}

#discardpile.dropoption>span::after{
    color: black;
    visibility: visible;

    content: "\00000aDrop Card";
    white-space: pre;
    font-size: calc(var(--card-width) / 10);
}



/* My cards */

#overflowbox, #mycards{
    height: calc(var(--card-height) + 4vmin); /* 36vmin */
}

#overflowbox{
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
    border-top: 2px solid black;
}

/* THIS DIDNT WORK
.droparea:only-child::after{
    content: "ONLY CHILD";
}*/


#mycards{
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    min-width: 100vw;
    width: fit-content;
}


.droparea{
    --drop-border-color: grey;
    --drop-background-color: lightgrey;

    height: var(--card-height);/*32vmin;*/
    width: 4vmin;
    margin: 0px 5px;
    border-width: 2px;
    border-color: grey;
    border-style: dashed;
    background: lightgrey;
    opacity: 0;
    transition: opacity .3s;
}

.droparea.dropoption{
    opacity: 1;
}

